.container {
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
}

.profile_h1 {
    margin-bottom: 30px;
}

.email {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.btnalign {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.btnalign .btn {
    padding: 10px 20px;
    font-size: 16px;
}
.adminemail{
    margin-bottom: 30px;
}
.btn{
    border-radius: 15px;
}
