.container {
    max-width: 600px;
    margin: 40px auto;
    text-align: left;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    height: 120px;
    resize: none;
}

label {
    font-size: 16px;
    margin-bottom: 6px;
    display: block;
    font-weight: bold;
}

input[type="submit"] {
    padding: 12px 20px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    background:rgb(208, 205, 205);
    cursor: pointer;
}
