.login_body {
  background-image: url('../images/loginbg.png');
  background-size: cover;
  /* fills the entire screen */
  background-repeat: no-repeat;
  /* avoid repeating tiles */
  background-position: center;
  /* centers the image */
  min-height: 100vh;
  /* body takes full height */
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.login_card {
  width: 450px;
  height: 400px;
  margin: 40px auto;
  margin-top: 80px;
  padding: 30px;
  background: rgba(49, 49, 49, 0.215);
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
  color: #fff;
}

.login_title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

.login_form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 6px;
  font-size: 14px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  outline: none;
}

input::placeholder {
  color: #ddd;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  /* background: rgba(255, 255, 255, 0.20); */
  background-color: #000080;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #000080c4;
}

.signuplink {
  margin-top: 25px;
  display: inline-block;
}

.login_error_message {
  margin-top: 25px;
  display: inline-block;
  color: red;
  font-weight: bold;
  text-align: center;
  margin-left: 75px;


}